/* line 112, idle/*.png */
.idle-sprite {
  background-image: url('/img/idle-s1212b69df3.png');
  background-repeat: no-repeat;
}

/* line 9, ../sass/style.scss */
canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 16, ../sass/style.scss */
#start-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 25, ../sass/style.scss */
#start-overlay-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

/* line 35, ../sass/style.scss */
#message {
  margin-bottom: 40px;
}
/* line 38, ../sass/style.scss */
#message-start h4, #message-end h4 {
  color: #ffffff;
  font-size: 30px;
  margin: 0 0 5px;
}
/* line 43, ../sass/style.scss */
#message-start p, #message-end p {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 18px;
}
/* line 50, ../sass/style.scss */
#message-start div {
  display: inline-block;
  text-align: left;
}
/* line 55, ../sass/style.scss */
#message-end {
  color: red;
  font-size: 36px;
  display: none;
  margin: 0 0 25px;
}

/* line 63, ../sass/style.scss */
#start {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 13px 15px;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  min-width: 160px;
  text-decoration: none;
  display: inline-block;
  margin-top: 25px;
}
/* line 74, ../sass/style.scss */
#start:hover, #start:focus {
  border: 3px solid red;
  color: red;
}
